@import  './../../../../main-theme.scss';
  .mat-column-orden {
    flex: 0 0 50px !important;
    white-space: unset !important;

  }
  .mat-column-cod_mvariedad {
    flex: 0 0 100px;
    white-space: unset !important;
  }
  .mat-column-precio {
    flex: 0 0 100px !important;
    margin: 0px 5px;

  }
  .mat-column-ce {
    flex: 0 0 50px !important;
    margin: 0px 5px;
  }




.header{
  display: flex;
  justify-content: space-between;
}
.mat-button-base {
  margin: 8px 8px 8px 0;
}