
  .mat-column-orden {
    flex: 0 0 100px !important;
    white-space: unset !important;

  }
  .mat-column-art_id {
    flex: 0 0 100px;
    white-space: unset !important;
  }
  .mat-column-precio {
    margin: 0px 5px;
  }
  


