/*@import  './../../../../main-theme.scss';*/
  .mat-column-orden {
    flex: 0 0 100px !important;
    white-space: unset !important;

  }
  .mat-column-art_id {
    flex: 0 0 100px;
    white-space: unset !important;
  }
  .mat-column-precio {
    flex: 0 0 100px !important;
    margin: 0px 5px;

  }
  .mat-column-ce {
    margin: 0px 5px;
  }
  /*
  md-select-menu md-option:focus:not([selected]) {
    background: rgb(238,238,238);
  }*/

