
    <mat-card>
        <mat-card-header>
          <mat-card-title>Lista de Casas Comerciales</mat-card-title>
  
        </mat-card-header>
  
        <mat-card-content>
            
          <div class="row ">

            <div class="col-md-6 form-group">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Usuario:</mat-label>
                    <input  type="text" placeholder="Usuario"  [(ngModel)]="datos.usuario"  readonly  matInput>
                </mat-form-field>
            </div>

            <div class="col-md-6 form-group">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Fecha:</mat-label>
                    <input  type="date" placeholder="Fecha"    [(ngModel)]="datos.fecha" readonly matInput>
                </mat-form-field>
            </div>

            <div class="col-md-6 form-group">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Ruta:</mat-label>
                    <input type="text"  placeholder="Ruta"    [(ngModel)]="datos.ruta"  readonly matInput>
                </mat-form-field>
            </div>
     
            <div class="col-md-6 form-group">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Circuito:</mat-label>
                    <input  placeholder="Circuito"   [(ngModel)]="datos.circuito"  readonly matInput>
                </mat-form-field>
            </div>

            <div class="col-md-6 form-group">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Distrito:</mat-label>
                    <input  placeholder="Distrito"    [(ngModel)]="datos.distrito"  readonly matInput >
                </mat-form-field>
            </div>

            <div class="col-md-6 form-group">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Ubicacion:</mat-label>
                    <input  placeholder="Ubicacion"   [(ngModel)]="datos.ubicacion" readonly  matInput >
                </mat-form-field>
            </div>
            <div class="col-md-12 ">
              <mat-table  [dataSource]="dataSource"  class=" mat-elevation-z8"  >
               
      
                <ng-container matColumnDef="ruc">
                  <mat-header-cell *matHeaderCellDef> RUC </mat-header-cell>
                  <mat-cell *matCellDef="let element" data-label="ruc"> 
                    <!--<span class="mobile-label">RUC:</span>-->
                    {{element.ruc}} 
                  </mat-cell>
                </ng-container>
      
                <ng-container matColumnDef="establecimiento">
                  <mat-header-cell *matHeaderCellDef> Establecimiento </mat-header-cell>
                  <mat-cell *matCellDef="let element" data-label="establecimiento"> 
                    <!--<span class="mobile-label">Establecimiento:</span>-->
                    {{element.establecimiento}} 
                  </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="direccion">
                    <mat-header-cell *matHeaderCellDef> Direccion </mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="direccion"> 
                      <!--<span class="mobile-label">Direccion:</span>-->
                      {{element.direccion}} 
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="giro">
                    <mat-header-cell *matHeaderCellDef> Giro </mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="giro"> 
                      <!--<span class="mobile-label">Giro:</span>-->
                      {{element.giro}} 

                    </mat-cell>
                  </ng-container>
                  <!--
                  <ng-container matColumnDef="avance">
                    <mat-header-cell *matHeaderCellDef> Avance </mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="avance"> 
                      
                      {{element.avance}} 
                    </mat-cell>
                  </ng-container>
                -->
                    
                    <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="estado"> 
                          {{element.estado}} 
                        </mat-cell>
                    </ng-container>

                    <ng-container  matColumnDef="id_directorio_ipc">
                        <mat-header-cell *matHeaderCellDef> Accion </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="accion"> 
                          <button mat-raised-button color="primary" [routerLink]="['edit', element.id_directorio_ipc]"><mat-icon>edit</mat-icon></button>
                          
                        </mat-cell>
                    </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
  
            </div>
          </div>

       
  
  

        </mat-card-content>
        
        
        
        <mat-card-actions>
        
        </mat-card-actions>
      </mat-card>
  
  
  
  
