<mat-card>
      
    <mat-card-header>
        
        <mat-card-title> 
            
          
          

         
          
 
        </mat-card-title>
        
           
    </mat-card-header>

    <mat-card-content >



    <div *ngIf="informante">
        <div class="row ">
            <div class="col-md-6  header">
               
                    <button mat-raised-button color="primary" [routerLink]="['../../']" ><mat-icon>keyboard_backspace</mat-icon>
                       
                    </button>
                    <!--
                    <mat-slide-toggle
                    class="example-margin"
                    [(ngModel)]="cerrar"
                    (ngModelChange)="confirmarCerrarInformante($event)"
                    >
                  Cerrar
                </mat-slide-toggle>
            -->
                
               
            </div>
            <br>
  
            <div class="col-md-6 ">
                
                <button mat-raised-button [ngClass]="{
                    'estado-finalizado': informante.estado === ESTADO.FINALIZADO,
                    'estado-cerrado': informante.estado === ESTADO.CERRADO ,
                    'estado-temporal': informante.estado === ESTADO.TEMPORAL ,
                    'estado-proceso': (informante.estado === ESTADO.PROCESO || informante.estado === ESTADO.PENDIENTE),
                    
                    'full-width':true
                }"  > 
                <!--
                    <ng-container *ngIf="informante.estado === ESTADO.FINALIZADO;else html">
                        Informante Completado 
                    </ng-container>
                    <ng-template #html>
                        <ng-container *ngIf="informante.estado === ESTADO.CERRADO;else html22">
                                Informante Cerrado !
                        </ng-container>
                        <ng-template #html22>
                            Informante Incompleto !
                        </ng-template>
                    -->
                    {{labelInformante }}
                    
                </button>
              
            </div>
        </div>
        <br>
    <div class="row ">
        <div class="col-6 form-group">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Cod Mercado:</mat-label>
                <button mat-icon-button matPrefix  [routerLink]="['../', preview]" >
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <input  type="text" placeholder="ID"  [(ngModel)]="informante.informante_cod"   matInput>
                <button mat-icon-button matSuffix  [routerLink]="['../', next]" >
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="col-6 form-group">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fecha programada:</mat-label>
                <input type="text"  placeholder="Establecimiento"    [(ngModel)]="informante.fecha_inicio"  [disabled]="true" matInput>
            </mat-form-field>
        </div>
        <!--
        <div class="col-md-6 form-group">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>RUC:</mat-label>
                <input  type="text" placeholder="RUC"    [(ngModel)]="informante.ruc" readonly matInput>
            </mat-form-field>
        </div>
-->
    
<div class="col-6 form-group">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Circuito:</mat-label>
        <input type="text"  placeholder="Establecimiento"    [(ngModel)]="informante.circuito_nombre" [disabled]="true" matInput>
    </mat-form-field>
</div>

<div class="col-6 form-group">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Investigador:</mat-label>
        <input type="text"  placeholder="Establecimiento"    [(ngModel)]="informante.investigador_nombre"  [disabled]="true" matInput>
    </mat-form-field>
</div>
        <div class="col-12 form-group">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Mercado:</mat-label>
                <input type="text"  placeholder="Establecimiento"    [(ngModel)]="informante.informante_nombre"  [disabled]="true" matInput>
            </mat-form-field>
        </div>
        


      
        <!--
        <div class="col-md-4 form-group">
        
            <mat-slide-toggle [(ngModel)]="isChecked">Finalizar </mat-slide-toggle>

        
        </div>
-->
        <div class="col-md-12 form-group">
            <mat-form-field class="full-width"  appearance="outline">
                <mat-label>Direccion:</mat-label>
                <input  placeholder="Direccion"   [(ngModel)]="informante.informante_direccion"  [disabled]="true" matInput>
            </mat-form-field>
        </div>
<!--
        <div class="col-md-12 form-group">
            <mat-form-field class="full-width"  appearance="outline">
                <mat-label>Giro:</mat-label>
                <input  placeholder="Giro"    [(ngModel)]="informante.informante_giro"  [disabled]="true" matInput >
            </mat-form-field>
        </div>
    -->
        <div class="col-md-12 ">
           
                <mat-label>Avance: {{avance}} de {{total}}</mat-label>
              
           
        </div>
       
           
     
               
        <div class="col-md-12">
            <mat-form-field>
              <mat-select placeholder=" Estados" [formControl]="estados" multiple (selectionChange)="filterEstados(estados)">
                <mat-select-trigger>
                  {{estados.value ? estados.value[0] : ''}}
                  <span *ngIf="estados.value?.length > 1" class="example-additional-selection">
                    (+{{estados.value.length - 1}} {{estados.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let estado of estadosList" [value]="estado">
                    <div style="width: 0px;" [ngClass]="{
                        'estado-finalizado': estado === ESTADO.FINALIZADO,
                        'estado-temporal': estado === ESTADO.TEMPORAL ,
                        'estado-proceso': (estado === ESTADO.PROCESO || estado === ESTADO.PENDIENTE),
                        'estado-cerrado': estado === ESTADO.CERRADO 
                      }" >{{estado}}</div>

                </mat-option>
              </mat-select>
            </mat-form-field>

        </div>




        <div class="col-md-12">
           
            <mat-table  [dataSource]="dataSource"  class=" mat-elevation-z8"  >
          
               
                <ng-container matColumnDef="orden">
                    <mat-header-cell *matHeaderCellDef>Nº O.</mat-header-cell>
                    <mat-cell *matCellDef="let element"  data-label="Orden" > 
                        {{element.orden}} 
                    </mat-cell>
                </ng-container>
                <!--
                <ng-container matColumnDef="cod_articulo">
                <mat-header-cell *matHeaderCellDef>Codigo</mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Codigo"> 
                    
                    {{element.cod_articulo}} 
                </mat-cell>
                </ng-container>
            -->
                <ng-container matColumnDef="producto">
                    <mat-header-cell *matHeaderCellDef>Producto</mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="Producto"> 
             
                        {{element.producto}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="articulo">
                    <mat-header-cell *matHeaderCellDef>Articulo</mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="Articulo"> 
                        <!--{{element.variedad.clasificacion.producto_desc}} /
                        {{element.variedad.clasificacion.articulo_desc }} /{{element.variedad.nombre }} -->

                        {{element.articulo}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="digitacion">
                    <mat-header-cell *matHeaderCellDef>Digitacion</mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="Digitacion"> 
                        
                        <mat-slide-toggle
                        class="example-margin" 
                        [(ngModel)]="element.digitacion"
                        (change)="digitacion(element)"
                        >
                      
                    </mat-slide-toggle>
                    
                    </mat-cell>
                </ng-container>
                

                <ng-container matColumnDef="precio_compra">
                    <mat-header-cell *matHeaderCellDef>Precio Compra(S/.)</mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="Precio Compra"> 
                        <mat-form-field class="full-width" appearance="outline">
                           
                        <input appOnlyNumber type="text" autocomplete="off"  [(ngModel)]="element.precio_compra"  (change)="changeMovMercadoCasasModel(element)"   matInput>    
                        
                    </mat-form-field>
                    </mat-cell>
                </ng-container>




                <ng-container matColumnDef="peso_gr_mercado">
                    <mat-header-cell *matHeaderCellDef>Peso Mercado</mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="Peso Mercado"> 
                        <mat-form-field class="full-width" appearance="outline">
                           
                        <input appOnlyNumber type="text" autocomplete="off"  [(ngModel)]="element.peso_gr_mercado"  (change)="changeMovMercadoCasasModel(element)"   matInput>    
                        
                    </mat-form-field>
                    </mat-cell>
                </ng-container>

           
                <ng-container matColumnDef="ce">
                    <mat-header-cell *matHeaderCellDef>CE.</mat-header-cell>
                
                    
                
                    <mat-cell *matCellDef="let element" data-label="ce" > 
                        <mat-form-field class="full-width" appearance="outline">
                             
                            <mat-select [(ngModel)]="element.ce" (ngModelChange)="changeMovMercadoCasasModel(element)" >
                                <mat-option *ngFor="let c of ces" [value]="c.id">{{c.id}}</mat-option>
                            </mat-select>
    
                               
                        </mat-form-field>
    
                        
                    </mat-cell>
                </ng-container>


        
                <ng-container matColumnDef="cc">
                    <mat-header-cell *matHeaderCellDef>CC.</mat-header-cell>
                
                    
                
                    <mat-cell *matCellDef="let element" data-label="cc" > 
                        <mat-form-field class="full-width" appearance="outline">
                             
                            <mat-select [(ngModel)]="element.cc" (ngModelChange)="changeMovMercadoCasasModel(element)" >
                                <mat-option *ngFor="let c of ccs" [value]="c.id">{{c.id}}</mat-option>
                            </mat-select>
    
                               
                        </mat-form-field>
    
                        
                    </mat-cell>
                </ng-container>


                 <ng-container matColumnDef="peso_gr">
                    <mat-header-cell *matHeaderCellDef>Peso(gr)</mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="Peso(gr)"> 
                        <mat-form-field class="full-width" appearance="outline">
                           
                        <input appOnlyNumber type="text" autocomplete="off"  [(ngModel)]="element.peso_gr"  (change)="changeMovMercadoCasasModel(element)"   matInput>    
                        
                    </mat-form-field>
                    </mat-cell>
                </ng-container>

            <ng-container matColumnDef="precio">
                <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Presentacion"> 
                    <mat-form-field class="full-width" appearance="outline">
                       
                    <input appOnlyNumber type="text" autocomplete="off"  [(ngModel)]="element.precio"  (change)="changeMovMercadoCasasModel(element,true)"  disabled matInput>    
                    
                </mat-form-field>
                </mat-cell>
            </ng-container>
            


            <ng-container matColumnDef="observacion">
                <mat-header-cell *matHeaderCellDef>Observacion</mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="observacion"> 
                    <mat-form-field class="full-width" appearance="outline">
                        <input type="text" autocomplete="off"  [(ngModel)]="element.observacion" (change)="changeMovMercadoCasasModel(element,false)" [disabled]="disabled" matInput  >   
                    </mat-form-field>
                    
                </mat-cell>
            </ng-container>
            
                    <ng-container  matColumnDef="accion">
                        <mat-header-cell *matHeaderCellDef>Accion </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="accion"> 
                        
                        <button mat-button color="primary" [routerLink]="['producto/', element.orden]" [disabled]="disabled"><mat-icon>edit</mat-icon></button>
                        
                        
                        </mat-cell>
                    </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let element; columns: displayedColumns;"  [ngClass]="{
                    'estado-finalizado': element.estado === ESTADO.FINALIZADO,
                    'estado-cerrado': element.estado === ESTADO.CERRADO,
                    'estado-temporal': element.estado === ESTADO.TEMPORAL ,
                    'estado-proceso': (element.estado === ESTADO.PROCESO || element.estado === ESTADO.PENDIENTE)
                     
                  }"
                   ></mat-row>
            </mat-table>


        </div>

    </div>

      
    
    </div>
    </mat-card-content>



<mat-card-actions>

</mat-card-actions>
</mat-card>