
<div  class="example-container" [class.example-is-mobile]="mobileQuery.matches"  >
    <mat-toolbar  color="primary" class="example-toolbar">
     <mat-toolbar-row>
       <button mat-icon-button (click)="snav.toggle()">          
         <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
         <span>MENU</span></button>
         <span class="spacer"></span>
         <button  (click)="logout()" mat-raised-button color ="accent">Salir</button>
      
     </mat-toolbar-row>
   </mat-toolbar>
 
   <mat-sidenav-container class="example-sidenav-container"
                          [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
     <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
  
                 
                  <mat-nav-list >

                    <mat-list-item routerLink="rutas">Rutas</mat-list-item>
                   
                   
                 </mat-nav-list>
              
       
     </mat-sidenav>
 
     <mat-sidenav-content>
 
       <router-outlet></router-outlet>
 
     </mat-sidenav-content>
   </mat-sidenav-container> 
 
 </div>

