@import  './../../../../main-theme.scss';
mat-table{
    //width: 100%;
    position: relative;
    height: auto;
    overflow: auto;
  }

  .mat-row {
    border: 1px solid mat-color($primary);
    cursor: pointer;
  }

  .highlight{
    background : mat-color($primary,400);

  }
  
.mat-header-row{
  
    border: 1px solid mat-color($primary);
    background: mat-color($primary);
  
  }
  
  .mat-header-cell{
    color: $primary-color-text-light;
  }
  
  .mat-row {
    border: 1px solid mat-color($primary);
    cursor: pointer;
  }
  
  /*
  :not(.mat-active):not(:hover):not(.mat-option-disabled) 
  */
  .mat-row:hover:not(.highlight){
    background : mat-color($primary,100) ;
  }
  
  .mat-row:active{
  
    background : mat-color($primary,300) ;
  }
  
  .mat-row-select{
    background : mat-color($primary,300) ;
  }
  