
    <mat-card>
        <mat-card-header>
            <mat-card-title> 
                <button mat-raised-button color="primary" [routerLink]="['../../']" ><mat-icon>keyboard_backspace</mat-icon>
                </button>
                Casa Comercial
            </mat-card-title>
            
            

        </mat-card-header>

        <mat-card-content >
            <div *ngIf="informante && producto">
            <div class="row col-md-12">

                

                <div class="col-md-4 form-group">
                    <mat-form-field class="full-width" appearance="fill">

                        <button mat-icon-button matPrefix  [routerLink]="['../', preview]" >
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>

                        <mat-label>Orden:</mat-label>
                        <input  placeholder="Orden"   [(ngModel)]="producto.orden"  readonly matInput>
                        <button mat-icon-button matSuffix  [routerLink]="['../', next]" >
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>

                    </mat-form-field>
                </div>

              
                <div class="col-md-4 form-group">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Codigo:</mat-label>
                        <input  placeholder="Codigo"    [(ngModel)]="producto.art_id"  readonly matInput >
                    </mat-form-field>
                </div>

                <div class="col-md-4 form-group">
                    
                        <button mat-raised-button (click)="openCamera()" color="primary"> <mat-icon>photo</mat-icon></button>
                    
                </div>

                <div class="col-md-12 form-group">
                    <mat-form-field  class="full-width" appearance="fill">
                        <mat-label>Producto:</mat-label>
                        <input  placeholder="Producto"   [(ngModel)]="producto.art_desc" readonly  matInput >
                    </mat-form-field>
                </div>
                <!--
                <div class="col-12 form-group">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Marca:</mat-label>
                        <input  placeholder="Producto"   [(ngModel)]="producto.marca" readonly  matInput >
                    </mat-form-field>
                </div>

                <div class="col-12 form-group">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Cap/tam:</mat-label>
                        <input  placeholder="Producto"   [(ngModel)]="producto.cap" readonly  matInput >
                    </mat-form-field>
                </div>

                <div class="col-12 form-group">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Presentacion:</mat-label>
                        <input  placeholder="Presentacion"   [(ngModel)]="producto.presentacion" readonly  matInput >
                    </mat-form-field>
                </div>
-->
                <div class="col-md-12 form-group">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Precio:</mat-label>
                        <input  type="number" placeholder="Precio"  (change)="change(producto)"  [(ngModel)]="producto.precio"  matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-12 form-group">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>CE:</mat-label>
                        <!--<input  placeholder="CE" [(ngModel)]="producto.ce"  matInput>-->

                        <mat-select [(ngModel)]="producto.ce" (change)="change(producto)">
                            <mat-option *ngFor="let c of ces" [value]="c.id">{{c.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                
                <div class="col-md-12 form-group">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Observacion:</mat-label>
                        <textarea matInput  [(ngModel)]="producto.observacion" (change)="change(producto)" ></textarea>
                    </mat-form-field>
                </div>

      
            </div>

       
           
  
        </div>
  

        </mat-card-content>
        
        
        
        <mat-card-actions>
        
        </mat-card-actions>
      </mat-card>
