
    <mat-card>
        <mat-card-header>
            <mat-card-title> 
               

            </mat-card-title>
            
            

        </mat-card-header>

        <mat-card-content >
            <div *ngIf="informante && movMercadoCasas">
           

                <div class="row ">
                    <div class="col-4">
                       
                        <button mat-raised-button color="primary" [routerLink]="['../../']" ><mat-icon>keyboard_backspace</mat-icon>
                        </button>
                            
                        
                       
                    </div>
                    
          
                    <div class="col-8 ">
                        
                                
                <button mat-raised-button class="full-width" [ngClass]="{
                    'estado-finalizado': movMercadoCasas.estado === ESTADO.FINALIZADO,
                    'estado-temporal': movMercadoCasas.estado === ESTADO.TEMPORAL,
                    'estado-cerrar': movMercadoCasas.estado === ESTADO.CERRADO,
                    'estado-proceso': (movMercadoCasas.estado === ESTADO.PROCESO || movMercadoCasas.estado === ESTADO.PENDIENTE)
                  }"  *ngIf="movMercadoCasas"> 
                  {{labelEstado}}
              
                </button >
                      
                    </div>
                </div>
                <br>
                <div class="row ">
                <div class="col-6 form-group">
                    <mat-form-field class="full-width" appearance="outline">

                        <button mat-icon-button matPrefix  [routerLink]="['../', preview]" >
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>

                        <mat-label>Orden:</mat-label>
                        <input  placeholder="Orden"   [(ngModel)]="movMercadoCasas.orden"   matInput>
                        <button mat-icon-button matSuffix  [routerLink]="['../', next]" >
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>

                    </mat-form-field>
                </div>
                <div class="col-3 form-group">
                    <!--
                    <button mat-raised-button  class="full-width" (click)="openCamera()" color="primary"> <mat-icon>photo</mat-icon></button>

                    -->

                    <button mat-raised-button  class="full-width" [routerLink]="['/entrada-datos','camera',movMercadoCasas.id]" color="primary"> <mat-icon>photo</mat-icon></button>

            </div>
              
            <div class="col-3 form-group">
                    
                <button mat-raised-button  class="full-width" (click)="openAudio()" color="primary"> <mat-icon>audiotrack</mat-icon></button>
            
        </div>
                <div class="col-12 form-group">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Codigo:</mat-label>
                        <input  placeholder="Codigo"    [(ngModel)]="movMercadoCasas.cod_mvariedad"  [disabled]="true" matInput >
                    </mat-form-field>
                </div>
<!--
                        {{element.producto}}
                        <ng-container *ngIf="element.articulo && element.articulo!=='' " >
                            / {{element.articulo}}
                        </ng-container>
                        
                        <ng-container *ngIf="element.var_nombre && element.var_nombre!=='' " >
                            / {{element.var_nombre}}
                        </ng-container>


                        <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Observacion:</mat-label>
                        <textarea matInput  autocomplete="off"  [(ngModel)]="movMercadoCasas.observacion" (change)="changeMovMercadoCasasModel(movMercadoCasas)" ></textarea>
                    </mat-form-field>
                        

-->
           

                <div class="col-md-4 form-group">
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Producto/Articulo/Variedad/Marca/Modelo:</mat-label>
                        <textarea matInput [disabled]="true"  [value]="descripcion"  rows="4"></textarea>
                        <!--<input  placeholder="Producto"   [value]=" movMercadoCasas.producto  " [disabled]="true"  matInput >-->
                    </mat-form-field>
                </div>
                <!--
                <div class="col-md-4 form-group">
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Articulo:</mat-label>
                        <input  placeholder="Producto"   [(ngModel)]="movMercadoCasas.articulo" [disabled]="true"  matInput >
                    </mat-form-field>
                </div>
                <div class="col-md-4 form-group">
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Variedad Esp.:</mat-label>
                        <input  placeholder="Producto"   [(ngModel)]="movMercadoCasas.var_nombre" [disabled]="true"  matInput >
                    </mat-form-field>
                </div>
            -->
            <!--
                <div class="col-md-4 form-group">
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Marca:</mat-label>
                        <input  placeholder="Producto"   [(ngModel)]="movMercadoCasas.var_marca" [disabled]="true"  matInput >
                    </mat-form-field>
                </div>
                
                <div class="col-md-4 form-group">
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Modelo:</mat-label>
                        <input  placeholder="Producto"   [(ngModel)]="movMercadoCasas.var_modelo" [disabled]="true"  matInput >
                    </mat-form-field>
                </div>
            -->
                <div class="col-6 form-group">
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Capacidad/Tam:</mat-label>
                        
                        <input  placeholder="Capacidad"   [(ngModel)]="movMercadoCasas.var_capacidad" [disabled]="true"  matInput >
                    </mat-form-field>
                </div>
                <div class="col-6 form-group">
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Presentacion:</mat-label>
                        <textarea matInput [value]="movMercadoCasas.var_presentacion" rows="3"></textarea>
                        <!--<input  placeholder="Presentacion"   [(ngModel)]="movMercadoCasas.var_presentacion" [disabled]="true"  matInput >-->
                    </mat-form-field>
                </div>
                <div class="col-3 form-group">
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Origen:</mat-label>
                        <input  placeholder="Origen"   [(ngModel)]="movMercadoCasas.var_origen" [disabled]="true"  matInput >
                    </mat-form-field>
                </div>
                <div class="col-9 form-group">
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Otros detalles:</mat-label>
                        <input  placeholder="Producto"   [(ngModel)]="movMercadoCasas.var_otros_detalles" [disabled]="true"  matInput >
                    </mat-form-field>
                </div>

                <div class="col-md-12 form-group">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Precio:</mat-label>
                        <input appOnlyNumber type="text" autocomplete="off"  placeholder="Precio"  
                        (change)="changeMovMercadoCasasModel(movMercadoCasas,true)" 
                         [(ngModel)]="movMercadoCasas.precio"   matInput>
                         
                         <button mat-icon-button matSuffix  (click)="convertMoneda()" >
                            <mat-icon>calculate</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <!--

           <div class="col-6 form-group">
                    <mat-form-field class="full-width" appearance="outline">

                        <button mat-icon-button matPrefix  [routerLink]="['../', preview]" >
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>

                        <mat-label>Orden:</mat-label>
                        <input  placeholder="Orden"   [(ngModel)]="movMercadoCasas.orden"   matInput>
                        <button mat-icon-button matSuffix  [routerLink]="['../', next]" >
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>

                    </mat-form-field>
                </div>


                -->

                <div class="col-md-12 form-group">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>CE:</mat-label>
                        <mat-select [(ngModel)]="movMercadoCasas.ce" (ngModelChange)="changeMovMercadoCasasModel(movMercadoCasas)">
                            <mat-option *ngFor="let c of ces" [value]="c.id">{{c.id}}: {{c.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="col-md-12 form-group">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Observacion:</mat-label>
                        <textarea matInput  autocomplete="off" rows="3" [(ngModel)]="movMercadoCasas.observacion" (change)="changeMovMercadoCasasModel(movMercadoCasas)" ></textarea>
                    </mat-form-field>
                </div>
            
      
            </div>

       
           
  
        </div>
  

        </mat-card-content>
        
        
        
        <mat-card-actions>
        
        </mat-card-actions>
      </mat-card>
