
<mat-card>
  <mat-card-header>
    <mat-card-title>Lista Circuito Programados</mat-card-title>
  </mat-card-header> 
  
  <mat-card-content>

    <div class="row">
      <div class="col-md-12 form-group " *ngIf="dataSource">
      <button mat-raised-button color="primary" [routerLink]="[]" style="float: right;">
          <mat-icon>add</mat-icon> Agregar
      </button>
      </div>
    </div>
    
    <div class="overlay"  *ngIf="ver">
      <div class="center">
        <mat-progress-spinner mode="indeterminate" style="margin:0 auto;"></mat-progress-spinner>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12 form-group " *ngIf="dataSource">
        <mat-table  [dataSource]="dataSource"  class=" mat-elevation-z8"  >
          
        
           <ng-container matColumnDef="nro">
            <mat-header-cell *matHeaderCellDef> Nro. </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" data-label="nro" > 
              {{ i+1}}    
            </mat-cell>
          </ng-container>
                  
          <ng-container matColumnDef="circuito">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="circuito"> 
              {{element.ruta.circuito}} 
            </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="nombre_circ">
            <mat-header-cell *matHeaderCellDef> Circuito </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="nombre_circ"> 
              {{element.ruta.nombre}} 
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ciudad_nombre">
            <mat-header-cell *matHeaderCellDef> Ciudad </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="ciudad_nombre"> 
            
              {{element.ruta.ciudad_nombre}} 
            </mat-cell>
          </ng-container>

            <ng-container matColumnDef="descripcion">
              <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="descripcion"> 
               {{element.ruta.descripcion}} 
              </mat-cell>
            </ng-container>

              <ng-container matColumnDef="nro_informantes">
                <mat-header-cell *matHeaderCellDef> Cant. Informantes </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="nro_informantes"> 
                  {{element.ruta.nro_informantes}} 
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="fecha_inicio">
                <mat-header-cell *matHeaderCellDef> Fecha Inicio </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="fecha_inicio"> 
                 {{element.fecha_inicio}} 
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="nombre_encuest">
                <mat-header-cell *matHeaderCellDef> Encuestador </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="nombre_encuest"> 
                  {{element.investigador.nombre}} 
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="estado"> 
                  {{element.estado}} 
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="acciones"> 
                  <button mat-raised-button color="primary" [routerLink]="[]"><mat-icon>edit</mat-icon></button>&nbsp;
                  <button mat-raised-button color="warn" [routerLink]="[]"><mat-icon>delete</mat-icon></button>
                </mat-cell>
              </ng-container>
          

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </mat-card-content>

</mat-card>