<div  class="example-container"   >
    <mat-toolbar  color="primary" class="example-toolbar">
     <mat-toolbar-row class="">

         
         <!--<button  (click)="logout()" mat-raised-button color ="accent">Salir</button>-->
      
     </mat-toolbar-row>
   </mat-toolbar>
 
   <mat-sidenav-container class="example-sidenav-container"
                          >

 
     <mat-sidenav-content>
        <mat-nav-list >
            <mat-list-item routerLink="/entrada-datos"> <mat-icon>edit</mat-icon><span>Entrada de Datos</span></mat-list-item> 
            <mat-list-item routerLink="/tablas-maestras"><mat-icon>table_chart</mat-icon><span>Tablas Maestras</span></mat-list-item>
            <mat-list-item routerLink="/monitoreo"><mat-icon>desktop_windows</mat-icon><span>Monitoreo</span></mat-list-item>
            <mat-list-item (click)="logout()"><mat-icon>exit_to_app</mat-icon><span>Salir</span></mat-list-item>
            
          </mat-nav-list>
       
        
 
     </mat-sidenav-content>
   </mat-sidenav-container> 
 
 </div>

