
    <mat-card>
      <mat-card-header>
        <mat-card-title>Descarga de datos</mat-card-title>

      </mat-card-header>

      <mat-card-content>
        <div class="row align-items-center ">
          <div class="col-md-4 form-group">
             <button  mat-raised-button class="form-control"  color ="primary" (click)="descargando()" ><mat-icon>cloud_download</mat-icon>Descargando Datos</button>
          </div>
          <div class="col-md-4 form-group">
            <button  mat-raised-button  class="form-control" color ="primary" (click)="cargando()" ><mat-icon>cloud_upload </mat-icon>Subiendo Datos</button>
          </div>
          <div class="col-md-4 form-group">
            <button  mat-raised-button class="form-control"  color ="primary" (click)="limpiarDatos()" ><mat-icon>clear_all</mat-icon>Limpiando Datos</button>
         </div>
       
          <div class="col-md-12 form-group">
            <app-loader></app-loader>
         
            <app-notification [message]="message" [message_error]="messageError"></app-notification>
            
            
          </div>
          
        </div>
       


      </mat-card-content>
      <mat-card-actions>
      
         
      </mat-card-actions>
    </mat-card>
    
  
