
    <mat-card>
      <mat-card-header>
        <mat-card-title>Lista de Mercados</mat-card-title>

      </mat-card-header>

      <mat-card-content>
          
        <div class="row form-group">
          <div class="col-md-4">

            <mat-form-field>
              <mat-select placeholder=" Estados" [formControl]="estados" multiple (selectionChange)="filterEstados(estados)">
                <mat-select-trigger>
                  {{estados.value ? estados.value[0] : ''}}
                  <span *ngIf="estados.value?.length > 1" class="example-additional-selection">
                    (+{{estados.value.length - 1}} {{estados.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let estado of estadosList" [value]="estado">
                
                  <div style="width: 0px;" [ngClass]="{
                  'estado-finalizado': estado === ESTADO.FINALIZADO,
                  'estado-temporal': estado === ESTADO.TEMPORAL ,
                  'estado-proceso': (estado === ESTADO.PROCESO || estado === ESTADO.PENDIENTE),
                  'estado-cerrado': estado === ESTADO.CERRADO 
                }" >{{estado}}</div>
                
              </mat-option>
              </mat-select>
            </mat-form-field>

          </div>


          <div class="col-md-4">

            <mat-form-field>
              <mat-label>Buscar:</mat-label>
           
              <input  type="text"   [(ngModel)]="busqueda"   (input)="changeBusqueda($event)"  matInput>

              <!--
              <mat-select placeholder=" Estados" [formControl]="estados" multiple (selectionChange)="filterEstados(estados)">
                <mat-select-trigger>
                  {{estados.value ? estados.value[0] : ''}}
                  <span *ngIf="estados.value?.length > 1" class="example-additional-selection">
                    (+{{estados.value.length - 1}} {{estados.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let estado of estadosList" [value]="estado">
                
                  <div style="width: 0px;" [ngClass]="{
                  'estado-finalizado': estado === ESTADO.FINALIZADO,
                  'estado-temporal': estado === ESTADO.TEMPORAL ,
                  'estado-proceso': (estado === ESTADO.PROCESO || estado === ESTADO.PENDIENTE),
                  'estado-cerrado': estado === ESTADO.CERRADO 
                }" >{{estado}}</div>
                
              </mat-option>
              </mat-select>-->
            </mat-form-field>

          </div>


          <div class="col-md-4">

           <!-- <mat-form-field>
              <mat-label>Buscar:</mat-label>
              
           

            </mat-form-field>-->

          </div>
       
          <div class="col-md-12 ">
            <mat-table  [dataSource]="dataSource"  class=" mat-elevation-z8"  
            
            cdkDropList
            [cdkDropListData]="dataSource"
            (cdkDropListDropped)="dropTable($event)"
           #table
            >



              
              <ng-container [matColumnDef]="column.data" *ngFor="let column of columns" >
                <mat-header-cell *matHeaderCellDef  > {{column.label}} </mat-header-cell>


                <ng-container *ngIf="column.label==='Acciones';else html1">
                  <mat-cell *matCellDef="let element"  [attr.data-label]="column.label"> 

                    <button mat-icon-button type="button"  color="primary" cdkDragHandle  style="pointer-events:all;">
                      <mat-icon> reorder </mat-icon>
                    </button>
                    <button mat-button color="primary"  style="pointer-events:all;" [routerLink]="['edit', element.informante_cod]"><mat-icon>edit</mat-icon></button>
                    
                  </mat-cell>
                </ng-container>
               


                <ng-template #html1>

                  <ng-container *ngIf="column.data=='orden';else html2">
                    <mat-cell *matCellDef="let element" [attr.data-label]="column.label">

                      <div cdkDragHandle>{{element[column.data]}}</div>  

                      <!--<mat-icon cdkDragHandle > </mat-icon>-->
                    </mat-cell>
                  </ng-container>
                  
                  <ng-template #html2>
                    <mat-cell *matCellDef="let element" [attr.data-label]="column.label">
             
                      {{element[column.data]}}
                    </mat-cell>
                  </ng-template>

            

                </ng-template>
                


              </ng-container>

        

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

              <!--
              <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDragLockAxis="y" cdkDrag [cdkDragData]="row"
              
              [ngClass]="{
                'estado-finalizado': row.estado === ESTADO.FINALIZADO,
                'estado-temporal': row.estado === ESTADO.TEMPORAL ,
                'estado-proceso': (row.estado === ESTADO.PROCESO || row.estado === ESTADO.PENDIENTE),
                'estado-cerrado': row.estado === ESTADO.CERRADO 
              }"
              
              ></mat-row>
            -->

            <mat-row style="pointer-events:none;" *matRowDef="let row; columns: displayedColumns;"  
            cdkDrag [cdkDragData]="row"
            [ngClass]="{
              'estado-finalizado': row.estado === ESTADO.FINALIZADO,
              'estado-temporal': row.estado === ESTADO.TEMPORAL ,
              'estado-proceso': (row.estado === ESTADO.PROCESO || row.estado === ESTADO.PENDIENTE),
              'estado-cerrado': row.estado === ESTADO.CERRADO 
            }"
            
            ></mat-row>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="6">No se encontraron resultados</td>
            </tr>


            </mat-table>
            <div *ngIf="loadingData" class="container-spinner-loading">
              <mat-progress-spinner color="primary" mode="indeterminate">
              </mat-progress-spinner>
          </div>
            
            <!--<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
          </div>
        </div>
      </mat-card-content>
      
      
      
      <mat-card-actions>
      
      </mat-card-actions>
    </mat-card>




