/*@import '~@angular/material/_theming.scss';*/
@import '~@angular/material/theming';
@import 'material-components-theme.scss';
@include mat-core();

// default theme:
$primary: mat-palette($mat-blue,800);
$accent:  mat-palette($mat-teal,500);
$warn:    mat-palette($mat-red,500);


$theme: mat-light-theme($primary, $accent,$warn);
$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text-light:   #FFFFFF;
$accent-color:         #FF5722;
$primary-color-text-dark:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$primary-color-2:#3f51b5;
$dark-color: #263238;

/*
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);*/

/*@include angular-material-theme($theme);*/
@include angular-material-theme($theme);
@include components-theme($theme);

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Poppins, Helvetica, sans-serif',
  $headline: mat-typography-level(20px, 24px, 700),
  $body-1: mat-typography-level(12px, 20px, 500)
);
@include angular-material-typography($custom-typography);

