/*@import '~@angular/material/_theming.scss';*/
@import '~@angular/material/theming';
@import 'material-components-theme.scss';
@include mat-core();



$md-3c8dbc: (
    50 : #e8f1f7,
    100 : #c5ddeb,
    200 : #9ec6de,
    300 : #77afd0,
    400 : #599ec6,
    500 : #3c8dbc,
    600 : #3685b6,
    700 : #2e7aad,
    800 : #2770a5,
    900 : #1a5d97,
    A100 : #cee7ff,
    A200 : #9bceff,
    A400 : #68b5ff,
    A700 : #4ea8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




// default theme:
$primary: mat-palette($md-3c8dbc,500);
$accent:  mat-palette($mat-teal,500);
$warn:    mat-palette($mat-red,500);

/*
#3C8DBC
121212
#3C8DBC
#3C8DBC

*/


$theme: mat-light-theme($primary, $accent,$warn);
$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text-light:   #FFFFFF;
$accent-color:         #FF5722;
$primary-color-text-dark:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$primary-color-2:#3f51b5;
$dark-color: #263238;

/*
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);*/

/*@include angular-material-theme($theme);*/
@include angular-material-theme($theme);
@include components-theme($theme);

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Poppins, Helvetica, sans-serif',
  $headline: mat-typography-level(20px, 24px, 700),
  $body-1: mat-typography-level(12px, 20px, 500)
);
@include angular-material-typography($custom-typography);

