/* You can add global styles to this file, and also import other style files */
@import  'main-theme.scss';

.mat-card{
  margin: 10px
}

html, body { height: 100%; }

/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
.full-width {
    width: 100%;
  }


  .example-container {
    display: flex;
    flex-direction: column;
  
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    //max-height: 500px;
  }
  

  @media(max-width: 770px) {
    /*.mobile-label {
      width: 200px;
      display: block;
     font-weight: bold;
     align-items: start;
    }*/
  
    .mat-header-row {
      display: none;
    }
  
    .mat-table {
        border: 0;
        vertical-align: middle
      }
    
      .mat-table caption {
        font-size: 1em;
      }
      
      /*  Enable this to hide header
      .mat-table .mat-header-cell {
        
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      */
      .mat-table .mat-row {
        border-bottom: 5px solid #ddd;
        display: block;
      }
      /*
      .mat-table .mat-row:nth-child(even) {background: #CCC}
      .mat-table .mat-row:nth-child(odd) {background: #FFF}
      */
      .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        
        padding: 0px 20px;
        margin-bottom: 0%;
      }
      .mat-table .mat-cell:before {
       
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        
        font-size: .85em;
      }
      .mat-table .mat-cell:last-child {
        border-bottom: 0;
      }
    
      .mat-table .mat-cell:first-child {
        margin-top: 4%;
      }

    mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
        padding-left: 0px;
    }
   
    mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
        padding-right: 0px;
    }
  }
  

button:focus{
  outline: 0px;
}


.warning-snackbar {
    /*background-color: mat-color($warn,500);*/
    background-color: mat-color($warn,500);
    /*color: mat-color($accent,200);*/
    /*color: $accent*/
    /*background: mat-color($accent,300) /*$accent-color;*/
  }
/*
  .form-group {
    margin-bottom: 0.1rem; 
  
}*/

.mat-table {
  margin-bottom: 0.5rem; 
}

.mat-card-header-text {
  margin: 0 0px!important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.25em 0 0.25em 0;
}
/*
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.5em 0;
}*/
/*
.mat-form-field-appearance-outline:focus{
  outline:none;
}*/

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.mat-form-field-outline:focus {
  color: white!important;
}

.mat-form-field-outline:hover {
  color: white!important;
}


.mat-footer-row, .mat-row {
  min-height: 0px;
}

.form-group {
  margin-bottom: -0.5rem;
}



/*
input[type=text]:disabled {
  color: black;
}*/
.mat-input-element:disabled {
  color:rgba(0, 0, 0, 0.7)!important;
}




.estado-proceso{
  background-color: mat-color($warn,100);
  font-weight: bold;
  color: mat-color($warn,900);
}
.estado-cerrado{
  background-color: rgb(203, 190, 230);
  font-weight: bold;
  color: darkviolet;
}

.estado-temporal{
  background-color: palegoldenrod;
  font-weight: bold;
  color: darkorange;
}

.estado-finalizado{
  background: lightgreen;
  font-weight: bold;
  color: darkgreen;
}



.estado-proceso-text{
  background-color: mat-color($warn,100);
  font-weight: bold;
  color: mat-color($warn,900);
}
.estado-cerrado-text{
  background-color: rgb(203, 190, 230);
  font-weight: bold;
  color: darkviolet;
}

.estado-temporal-text{
  background-color: palegoldenrod;
  font-weight: bold;
  color: darkorange;
}

.estado-finalizado-text{
  background: lightgreen;
  font-weight: bold;
  color: darkgreen;
}
