
<div style="text-align:center">

  
  <div class="wrapper" (window:resize)="onResize($event)">

    <ng-container *ngIf="camera;else html">

                <webcam  [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                [videoOptions]="videoOptions"
                [imageQuality]="1"
                [width]="width"
      [height]="height"
                (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)"
        ></webcam>


        <div class ='tools'>

          <div class="item">
            <button mat-raised-button (click)="guardar()" ><mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon></button>
            
          </div>
          <div class="item">
            <span class="dot" (click)="triggerSnapshot();"></span>
          </div>

          
          <div class="snapshot item" (click)="openPhoto()" > 
            <ng-container *ngIf="imageAsDataUrl;else html1">
              <img [src]="imageAsDataUrl"/>
            </ng-container>
            <ng-template #html1>
              <img src='assets/img/img-default.jpg'/>
            </ng-template>  
          </div>

          
        </div>

    </ng-container>

    <ng-template #html>
        <div class="wrapper" (window:resize)="onResize($event)">
          <img [src]="imageAsDataUrl"/>
        </div>
        <div class ='tools'>

          <div class="item">
            <button mat-raised-button (click)="back()" ><mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon></button>
            
          </div>
         

          
        </div>


    </ng-template>

</div>
